"""Jinja2 template for a ROS 2 launch file."""
from launch import LaunchDescription
from launch_ros.actions import Node

def generate_launch_description():
    return LaunchDescription([
        Node(
            package='{{ package_name }}',
            executable='{{ node_executable }}',
            name='{{ node_name }}',
            output='screen',
            # ...user launch args...
        ),
    ])
